<!DOCTYPE html>

<html>

<head>
    <title>Aca hay un titulo sobre milanesas que atrapa al lector</title>

    {% if request.user.is_authenticated %}
      <p>Hola, {{request.user.username}} | <a href="{% url 'logout' %}">logout</a></p>
    {% else %}
      <p><a href="{% url 'register' %}">Registro</a> | <a href="#">Login</a></p>

    {% endif %}

    
</head>

 <body>
    
    {% block content %}
        
    {% endblock content %}

 </body>

 <footer>

   <hr>
   <p>Messi es amigo de Mauro profe | 2024</p>

 </footer>

</html>