<!DOCTYPE html>

<html>

<head>
    <title>Aca hay un titulo sobre milanesas que atrapa al lector</title>

    {% if request.user.is_authenticated %}
      <p>

        <a href="{% url 'home' %}">Home</a> | 
        <a href="{% url 'account' %}">cuenta</a> | 
        <a href="{% url 'logout' %}">logout</a>
      
      </p>
      <p>Hola, {{request.user.username}}</p>
    {% else %}
      <p>
        
        <a href="{% url 'home' %}">Home</a> | 
        <a href="{% url 'register' %}">Registro</a> | 
        <a href="{% url 'login' %}">login</a>
        
      
      </p>

    {% endif %}

    
</head>

 <body>
    
    {% block content %}
        
    {% endblock content %}

 </body>

 <footer>

   <hr>
   <p>Messi es amigo de Mauro profe | 2024</p>

 </footer>

</html>