{% extends 'base.html' %}


{% block content %}

<h2>Register</h2>
<form method="post">{% csrf_token %}
    {% for field in registration_form %}
        <p>
            {{field.label_tag}}
            {{field}}

            {% if field.help_text %}
                <small style="color: gray;">{{field.help_text}}</small>
            {% endif %}
                <small style="color: red;">{{error}}</small>
            {% endfor %}
            
        </p>
    
    <button type="enter">Register</button>
    


</form>





{% endblock content %}